.heading5 {
    background-color: coral;
    font-size: 55px;
}

.heading_color {
    color: beige;
}

.heading6 {
    color: lavender;
    background-color: purple;
    font-size: 60px;
}

#heading5 {
    color: pink;
    background-color: red;
    font-size: 55px;
}

#heading6 {
    color: greenyellow;
    background-color: darkgreen;
    font-size: 60px;
}