.t_transform_uppercase {
    text-transform: uppercase;
}

.t_transform_lowercase {
    text-transform: lowercase;
}

.t_transform_capitalize {
    text-transform: capitalize;
}

.t_decor_overline {
    text-decoration: overline;
}

.t_decor_underline {
    text-decoration: underline;
}

.t_decor_linethrough {
    text-decoration: line-through;
}

.t_decor_all {
    text-decoration: line-through overline underline;
}

.t_align_l {
    text-align: left;
}

.t_align_r {
    text-align: right;
}

.t_align_c {
    text-align: center;
}

.t_shadow1 {
    font-size: 60px;
    color: purple;
    text-shadow: 5px 7px 1px pink;
}

.t_shadow2 {
    font-size: 60px;
    color: darkred;
    text-shadow: 5px 7px 3px lightcoral;
}

.t_indent{
    text-indent: 100px;
}

.word_spacing{
    word-spacing: 15px;
}

.letter_spacing{
    letter-spacing: 10px;
}

.line_height{
    line-height: 25px;
}